.delete-message {
    font-size: 1.5em;
    text-align: center;
}

.delete-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}

.delete-icon {
    background-color: #2a2a2a;
    border: 2px solid #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.delete-icon:hover {
    color: red;
    background-color: rgba(175, 175, 175, 0.91);
    transform: scale(1.2);
    transition: transform .3s;
}