.activity-page {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.activity-page h1, h2 {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
}

.activity-page .activity-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.activity-page h3 {
    font-size: 18px;
    margin-top: 20px;
}

.activity-page p {
    font-size: 16px;
    margin-bottom: 10px;
}

.activity-page .map-container {
    margin-top: 20px;
}

.activity-page .participants {
    font-style: italic;
}

.activity-page .loading {
    font-size: 16px;
}

.activity-page-middle-section {
    display: flex;
    justify-content: space-between;
}

.share-activity {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    width: 300px;
    height: auto;
}

.copied-message-alert-container {
    overflow: hidden;
}

.copied-message-alert {
    height: 20px;
    position: relative;
    bottom: 20px;
    transition: bottom .5s;
}

.share-activity-methods {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 300px;
    padding: 8px;
    align-items: center;
}

.copy-to-clipboard {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    transition: transform .5s;
}

.copy-to-clipboard:hover {
    transform: scale(1.2);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 12px 1px rgba(66, 68, 90, 1);
    transition: transform .5s;
}


.activity-page .place-date {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

.activity-page .place-date .place, .date {
    display: flex;
    align-items: center;
}

.activity-page .place-date .date p {
    padding-left: 20px;
}

.activity-page .place-date .place p {
    padding-left: 20px;
}

.activity-page .users {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.activity-page .users p {
    padding-left: 20px;
}

.activity-page .info-users {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.activity-page .info-users .icon {
    background-color: #2a2a2a;
    border: 2px solid #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.activity-page .info-users .icon:hover {
    background-color: rgba(175, 175, 175, 0.91);
    transform: scale(1.2);
    transition: transform .3s;
}

.activity-page .google-maps {
    border: 1px solid rgba(175, 175, 175, 0.91);
    border-radius: 5px;
}

.top-section {
    cursor: pointer;
}

.activity-icon {
    display: flex;
    justify-content: center;
}